!!!5
html
  head
    script(src='stalk.js')
    link(rel='stylesheet', href='common.css')
    link(rel='stylesheet', href='app.css')
  body
    p hi, this page will refresh when anything in views or public change 
    div#app this is some awesome app 
    script(src='app.js')
